---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// variables
$base-font-family: "garamond-premier-pro", Georgia, serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$orange:		   #faa627; 
$darkorange:       #DA8455;


body{
	background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font-family;
}

