// colors
@orange:#faa627; 
@darkorange: #DA8455;

body{background-color: @orange;}

.intro{
	min-height: 100vh;
	margin:0!important;
	background-image: url('/img/noisy.png');
	h1 {font-size: 80px;}
	p {font-size: 18px!important;}
}
.section{
	background-color: @darkorange;
	h1, h2, h3, h4, h5, h6, p {color: #ddd;}
	min-height: 100vh;
}

.nav ul, li{
	font-family: "brandon-grotesque", sans-serif!important;
	text-transform: uppercase;
	font-weight: 700;
}
a{
	color: @orange;
	text-decoration: none;
	&:hover{color:@orange; text-decoration: none;}
}
.markings{
	background-image: url('/assets/images/grunge_wall.png');
	padding: 5%;
}
h1, h2, h3, h4, h5, h6{
	font-family: "garamond-premier-pro", Georgia, sans-serif;
}

p{
  font-family: "brandon-grotesque", Helvetica, sans-serif;
  }

 .object{
 	background-image: url('/img/noisy.png');
 	padding: 2.5%;
 	margin: 1%;
 }