<header class="site-header">

  <div class="jumbotron intro">

    <h1>{{ site.title }}</h1>
    <h2>{{ site.description }}</h2>
	<p>How do you see the internet?  </p>

	<p>Maybe that’s not a clear question. Okay. </p>

	<p>When you <em>think about</em> or <em>use</em> the internet, what do you see? </p>

	<p>For a lot of people, the answer is that they see screens–browsers, software, laptops, phones. Maybe they see some hardware in the form of a wifi router. The internet is a network, but individual users mostly just get a glimpse of it, usually by peering into black mirrors. The most popular stock photography of internet infrastructure–data centers full of servers and cables–tends to make the physical internet feel clinical, distant, opaque. </p>

	<p>When I think about the internet, I think about scale. Computers used to be the size of entire rooms. While the hardware has gotten a lot smaller, the room has actually gotten bigger–we’re surrounded by sensors, cables, cameras, all the stuff of networks, and the number of networked objects around us is only going to increase. These pieces of the network are at times hard, but not impossible, to see–if you know what you’re looking for and how to look. And once you start looking, it’s hard to stop noticing all the pieces of networks that are around us all the time.  </p>

	<p>This field guide is meant to help you see some of New York’s networks in everyday places. </p>

  </div>

</header>
