<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.url}}">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       {% for category in site.data.nyc-meta %}
          <li><a href="#{{category.category}}">{{ category.title }}</a></li>
      {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<header>

  <div class="jumbotron intro">
  <div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
  <h1>Seeing Networks in {{page.title}}</h1>
  
  <h2>{{ content }}</h2>
  </div>
  </div>
  </div>

</header>

<div id="content">
  {% for category in site.data.nyc-meta %}
    <div class="jumbotron section" id="{{category.category}}">
    <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
    <h1>{{category.title}}</h1>
    <span id="mark"><h2>{{category.summary}}</h2></span>
    </div>
    </div>
    </div>
      <div class="container-fluid">
     {% for data in site.data.nyc %}
     {% if data.category == category.category %}
       {% if data.img != null %}
        <div class="row">
          <div class="object col-md-3 col-md-offset-1 "><img src="{{site.url}}/{{data.img}}" class="img-responsive"></div>
          <div class="col-md-7">
            <h2>{{data.name}}</h2>
            <p>{{data.desc}}</p>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>{{data.name}}</h2>
            <p>{{data.desc}}</p>
          </div>
        </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>