---
layout: default
---

<div id="content">
  {% for category in site.data.categories %}
    <div class="jumbotron section" id="{{category.category}}">
    <h1>{{category.title}}</h1>
    <span id="mark"><p>{{category.summary}}</p></span>

    </div>
      <div class="container-fluid">
     {% for data in site.data.city %}
     {% if data.category == category.category %}
      <div class="row">
        <div class="col-md-3 object"><img src="{{data.img}}" class="img-responsive"></div>
        <div class="col-md-8">
          <h2>{{data.name}}</h2>
          <p>{{data.desc}}</p>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
